$dark-color: #A2B1B9;
$dark-background: #101319;

html, body {
    height: 100%;
}

body {
    font-size: large;
    font-family: Georgia, serif;
    color: rgba(0,0,0,.84);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @media (prefers-color-scheme: dark) {
        color: $dark-color; 
        background: $dark-background;
    }
}

@supports (hyphens:auto) {
    p {
       hyphens: auto;
       text-align: justify;
    }
}

a, a:visited {
    color: rgba(0,48,200,.84);
    text-decoration: none;
    @media (prefers-color-scheme: dark) {
        color: #4084DD;
    }
}


h1, h2, h3 {font-family: sans-serif;}

.content {
    max-width: 940px;
    margin: 0 auto;
    flex: auto;
    @media only screen and (max-width: 1000px) {
        margin: 5px;
    }
}

.container {
    display: grid;
    grid-template-columns: 200px minmax(300px, 700px);
    grid-gap: 40px;
    @media only screen and (max-width: 700px) {
      grid-gap: 30px;
    }
    @media only screen and (max-width: 500px) {
        display: block;
    }
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

nav {order: 1;}

@mixin card($color) {
    border-left: 0.35em solid $color;
    border-right: 0.15em solid $color;
    box-shadow: 2px 2px 15px #ccc;
    padding: 1em;
    margin: 10px;
    margin-top: 18px;
    @media (prefers-color-scheme: dark){ 
        box-shadow: 2px 2px 15px #30394B;
        border-left: 0.35em solid desaturate($color, 40%);
        border-right: 0.15em solid desaturate($color, 40%);
    }
    p {
        margin: 0;
    }
}

.event {
    @include card(#FF0000);
    display: grid;

    .header {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        margin-bottom: 5px;
        text-decoration: underline;
        font-weight: bold;
    }

    .title {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: larger;
        text-align: center;
    }

    .date {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        font-size: normal;
    }

    .line {
        grid-column: 1/2;
        grid-row: 4/5;
        border-bottom: 1px solid black;
    }

    .description {
        grid-column: 1/2;
        grid-row: 5/6;
        p {
            margin: 0px;
            margin-top: 1em;
        }
    }
}

.project-summary{
    overflow: auto;
}

.project-summary-body{
    float: left;
    width: 75%;
    margin-left: 5%;

    h2
    {
        margin-top: 0;
    }
}
.project-summary-img{
    float: left;
    width: 20%;

    img
    {
        border-radius: 20px;
    }

}


@mixin menu-button($n, $background, $border) {
    &:nth-child(#{$n}) li {
        background-color: rgba($background, 0.80);
        border: 1px solid rgba($border, 0.80);

        @media (prefers-color-scheme: dark) {
            background-color: desaturate($background, 25%);
            border: 1px solid $border;
        }
    }
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    a, a:visited {
        li { color: #000; }
        @include menu-button(1, #FF0000, #7F0000);
        @include menu-button(2, #FF5100, #7F2800);
        @include menu-button(3, #FF9800, #7F4C00);
        @include menu-button(4, #FFC500, #7F6200);
        @include menu-button(5, #B6DA07, #5B6D03);
        @include menu-button(6, #24D715, #126B0A);
        @include menu-button(7, #00BE7C, #005F3E);
        @include menu-button(8, #009FFF, #004F7F);
    }
    li {
        margin-bottom: 2px;
        border-radius: 5em;
        padding: 0.15em 1.5em;
        font-family: Arial, sans-serif;
        @media only screen and (max-width: 500px) {
            padding: 0.5em;
            text-align: center;
        }
    }
}


.address, .center p {
  text-align: center;
}

img {
  max-width: 100%;
}

.copyright {
  font-size: smaller;
}

.osm img {
  max-width: 100%;
  height: auto;
}

.logo {
    width: 100%;
    @media only screen and (max-width: 500px) {
        order: 2;
        margin: 2em auto;
    }
    path.letter {
        @media (prefers-color-scheme: dark) {
            fill: $dark-color;
        }
    }
}

main {
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 1.6;
    letter-spacing: .0045em;
}

.definition {
    @include card(#009fff);
}

footer {
    font-size: small;
    font-family: Arial, sans-serif;
    margin-top: 1em;
    padding: 1em;
    background: #C2C2C2;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    @media (prefers-color-scheme: dark) {
        background: #202632;
    }
}

.list {
    @media only screen and (max-width: 700px) {
        padding-left: 0px;
    }
    li {
        list-style: none;
        border-bottom: 1px solid black;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        h2 {
            margin-bottom: 0px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.blog .date {
  font-size: small;
  color: #808080;
}
