<div class="event next">
    <div class="header">Aktuelle Information</div>
    <div class="title">{{ title }}</div>
    <div class="line"></div>
    <div class="description">
        {{ body | markdown | safe }}
    </div>
</div>
