<!doctype html>
<html lang="de">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %} ACME Labs {% endblock title %}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ACME Labs e.V.">
    {# TODO(xanderio): twitter card #} 
    {% endblock head %}
  </head>
  <body>
    <div class="content">
    {% block content %} {% endblock content %}
    </div>
    <footer>
        <p>
        Alle Inhalte sind - soweit nicht anders gekennzeichnet - unter der Lizenz 
        <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">(CC BY-SA 4.0)</a>
        ACME Labs Bielefeld.
        </p>

        <p>
        <a href="{{ get_url(path="@/impressum.md") }}">Impressum</a> |
        <a href="{{ get_url(path="@/datenschutz.md") }}">Datenschutz</a>
        </p>
    </footer>
    <a rel="me" href="{{config.extra.mastodon_account}}" style="display:none">
      Link für Verifizierung des Mastodon Accounts
    </a>
  </body>
</html>
