{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}

{% block content %}
  <div class="container">
    <header>
      {% include "nav.html" %}
      {% include "logo.html" %}
    </header>
    <main>
    <h1>{{ section.title }}</h1> 
     {{ section.content | safe }} 
    </main>
  </div>
{% endblock content %}
