{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}


{% block content %}
<div class="container">
    <header>
        {% include "nav.html" %}
        {% include "logo.html" %}
    </header>
    <main>
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}

        <h4>Regelmäßig statt findende Meetups:</h4>
        {% for event in section.pages %}
          <li>{{ event.extra.schedule }} - <a href="{{ event.permalink }}">{{ event.title }}</a></li>
        {% endfor %}
    </main>
</div>
{% endblock content %}