<nav>
  <ul class="menu">
  <a href="{{ get_url(path="@/_index.md") }}"><li>Home</li></a>
  <a href="{{ get_url(path="@/coc.md") }}"><li>Code of Conduct</li></a>
  <a href="{{ get_url(path="@/projekte/_index.md") }}"><li>Projekte</li></a>
  <a href="{{ get_url(path="@/personen/_index.md") }}"><li>Personen</li></a>
  <a href="{{ get_url(path="@/events/_index.md") }}"><li>Veranstaltungen</li></a>
  <a href="{{ get_url(path="@/meetups/_index.md") }}"><li>Meetups</li></a>
  <a href="{{ get_url(path="@/unterstuetzen.md") }}"><li>Unterstützen</li></a>
  <a href="{{ get_url(path="@/kontakt/index.md") }}"><li>Kontakt</li></a>
  </ul>
</nav>
