{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}

{% block content %}
<div class="container">
    <header>
        {% include "nav.html" %}
        {% include "logo.html" %}
    </header>
    <main>
        <h1>{{ section.title }}</h1> 
        {{ section.content | safe }} 

        <ul class="list">
            {% for person in section.pages %}
            <li>
                <h2>
                    {% if person.extra.emoji %}
                        <span role="img" aria.label="">
                            {{ person.extra.emoji }}
                        </span>
                    {% else %}
                        <span role="img" aria.label="">
                            🙂
                        </span>
                    {% endif %}
                    {{ person.title }}
                    {% if person.extra.pronouns %}
                        ({{ person.extra.pronouns }})
                    {% endif %}
                </h2>
                
                {% if person.extra.interests  %}
                    <h3>Interessiert an:</h3>
                    <p>{{ person.extra.interests }}</p>
                {% endif %}
                
                {% if person.extra.learning  %}
                    <h3>Lernt (oder möchte es gerne):</h3>
                    <p>{{ person.extra.learning }}</p> 
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </main>
</div>

{% endblock content %}
