{% extends "base.html" %}
{% block title %} {{ section.title }} {% endblock title %}

{% block content %}
<div class="container">
    <header>
        {% include "nav.html" %}
        {% include "logo.html" %}
    </header>
    <main>
        <h1>{{ section.title }}</h1> 
        {{ section.content | safe }} 

        <ul class="list">
            {% for project in section.pages %}
            <li>
                <div class="project-summary">
                    <div class="project-summary-img">

                        {% if project.extra.image %}
                            {% set image = resize_image(path=project.path~project.extra.image, height=160, op="fit_height") %}

                            {% if project.extra.imageAlt %}
                                {% set imageAltText = project.extra.imageAlt %}
                            {% else %}
                                {% set imageAltText = "Project image with missing alt text." %}
                            {% endif %}

                        {% else %}
                            {% set image = resize_image(path=project.path~"../default-images/project-terminal-prompt.jpg", height=160, op="fit_height") %}
                            {% set imageAltText = "The characters '>_' on a green background." %}
                        {% endif %}

                        <img src="{{ image.url }}" alt="{{ imageAltText }}" /> 
                    </div>

                    <div class="project-summary-body">
                        
                        <h2>{{ project.title }}</h2>
                        
                        {% if project.extra.responsible and project.extra.status %}

                        <p class="project-header">
                            {{ project.extra.responsible }} | Status: {{ project.extra.status }}
                        </p> 

                        {% elif project.extra.responsible %}
                        <p class="project-header">
                            {{ project.extra.responsible }}
                        </p> 

                        {% elif project.extra.status %}

                        <p class="project-header">
                            Status: {{ project.extra.status }}
                        </p> 

                        {% endif %}


                        <p class="project-description">
                            {{ project.description }}
                        </p> 

                        {% if project.extra.hint %}
                        <p class="project-hint">
                            {{ project.extra.hint|markdown|safe }}
                        </p> 
                        {% endif %}

                        {% if project.extra.url or project.content%}
                        <p class="project-link">
                            Siehe: 
                            <a href="{% if project.extra.url %}{{ project.extra.url }}{% else %}{{ project.permalink }}{% endif %}">
                                Link
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                

            </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock content %}
